.section-three{
    background-image: url(../img/two.phon.1440.800.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 800px;
}
.container-three{
    max-width: 1205px;
    margin:118px auto 0;
    display:flex;
    flex-wrap:wrap;
}
.big-picone{
    display:block;
    max-width: 100%;
    height: auto;
    margin:0 auto;
}
.flex-block{
    flex-basis: 50%;
    color: #ff7f7f;
    h3{
        font-size: 58px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 40px 0 0 0;
        padding-left:20px;
    }
    p{
        font-size: 30px;
        font-weight: 400;
        margin: 30px 0 60px;
        padding-left:20px;
    }
    button{
        background:  #ff7f7f;
        color:#fff;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        padding:25px 80px;
        border-radius: 50px;
        margin-left:20px;
    }
}
.section-four{
    background: #ff7f7f;
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
}
.heading-four{
    max-width: 697px;
    margin:0 auto 0;
    color:#fff;
    h4{
        margin:0;
        font-weight: 700;
        font-size: 58px;
        text-transform: uppercase;
        padding:150px 0 46px 0;
    }
    p{
        font-weight: 400;
        font-size: 25px;
        letter-spacing: normal;
        margin:0;

    }
}
.container-four{
    max-width: 1300px;
    margin:94px auto 0;
    padding-bottom: 125px;
    display:flex;
    
    flex-wrap: wrap;
    .flex-menu{
        flex-basis: 33%;
    }
    .circle{
        height: 278px;
        width: 278px;
        border-radius: 50%;
        border: solid 5px #fff;
        color:#fff;
        margin:0 auto;
        p{
            font-weight: 700;
            font-size: 75px;
            margin:65px 0 0 0;
        }
        span{
            font-weight: 700;
            font-size: 42px;
            text-transform: uppercase;
        }
    }
   
}
.picture-box{
    .pic-three{
        position: absolute;
        top:230px;
        left:50px;
    }
    .pic-four{
        position: absolute;
        top:150px;
        right:150px;
    }
    .pic-activtwo{
        position: absolute;
        right:500px;
    }
}
@media (max-width: 990px){
    .container-three{
        margin:50px auto 0;
    }

    .flex-block{
        flex-basis: 100%;
    }
    .flex-block{
        h3{
            font-size: 45px;
            margin: 30px 0 0 0;
            padding-left:20px;
        }
        p{
            font-size: 25px;
            margin: 10px 0 30px;
            padding-left:20px;
        }
        button{
            font-size: 25px;
            font-weight: 700;
            padding:25px 80px;
            border-radius: 50px;
            margin-left:20px;
        }
    }
    .container-four{
        .flex-menu{
            flex-basis: 100%;
            padding-bottom:60px;
        }
        .flex-menu:last-child{
            padding-bottom: 0;
        }
    }
    .picture-box{
        .pic-three{
            position: absolute;
            top:90px;
            left:30px;
        }
        .pic-four{
            position: absolute;
            top:750px;
            right:50px;
        }
        .pic-activtwo{
            position: absolute;
            left:100px;
            bottom:-30px;
        }
    }
    
}

@media (max-width: 770px){
    .flex-block{
        button{
            font-size: 20px;
            padding:20px 60px;
        }
    }
}
@media (max-width: 575px){
    .flex-block{
        h3{
            font-size: 40px;
            margin: 40px 0 0 0;
        }
        p{
            font-size: 20px;
            margin: 20px 0 40px;
            padding-left:20px;
        }
        button{
            font-size: 18px;
            padding:18px 60px;
            margin-left:20px;
        }
    }
    .heading-four{
        h4{
            margin:0;
            font-size: 40px;
            padding:40px 0 46px 0;
        }
        p{
            font-weight: 400;
            font-size: 25px;
            letter-spacing: normal;
            margin:0;
    
        }
        
    }
    .picture-box{
        .pic-three{
            top:-100px;
            left:50px;
        }
        .pic-four{
            display:none;
        }
        .pic-activtwo{
           display:none;
        }
    }
}
