.section-eight{
    background: #111111;
  
    padding: 248px 5px 297px 5px;
  }
  .container-eight{
    width: 100%;
    max-width: 1266px;
    margin:0 auto;
    color:#fff;
  }
  .wrapper-box{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .box-one{
    width: 45%;
  }
  .eight-title{
    font-size: 32px;
  }
  .eight-text{
    font-size: 24px;
  }
  .icon-eight{
    color:#000;
    font-size: 22px;
    padding-top:10px;
  }
  .icon-circle{
    display: flex;
    text-align: center;
  }
  .circle-eight{
    width: 44px;
    height: 44px;
    background: #fff;
    border-radius: 50%;
    margin-right: 10px;
  }
  .eight-nav{
    color: #fff;
    font-size: 24px;
  }
   .box-four{
    display: block;
  } 



  @media (max-width: 1230px){
    .section-eight{
        padding: 150px 5px 170px 5px;
      }
    .box-one{
        width: 100%;
      }
    .eight-text{
        max-width: 700px;
      }
  }
  @media (max-width: 575px){
    .section-eight{
        padding: 30px 5px 60px 5px;
      }
    .eight-text{
        max-width: 700px;
        font-size: 15px;
      }
      .eight-nav{
          font-size: 15px;
      }
  }