
.first-bg{
    background-image: url(../img/global.6368.1440_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 1440px;
    position: absolute;
}
.section-one{
    position: relative;
    z-index: 2;    
}
.container-header{
    max-width: 1330px;
    margin: 0 auto;
}
.header{
    display:flex;
    justify-content: space-between;
    height: 160px;
    color: #fff;
    align-items: center;
    padding: 0 10px;
}
.inner--one{
    background-image: url(../img/icon.107.83.png);
    width: 107px;
    height: 83px;
}
.navigation{
    display:flex;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.menu{
    color:#fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    padding-left:50px;
}
.menu:first-child{
    padding-left: none;
}
.inner--three{
    color:#fff;
    font-size: 30px;
}
.map-icon{
    color:#fff;
}
.part-two{
    position: relative;
    color:#fff;
    z-index: 3;
    max-width: 1250px;
    margin:0 auto;
}
.part-inner{
    max-width: 582px;
    padding-left:10px;
}
h1{
    font-size: 75px;
    font-weight: 700;
    text-transform: uppercase;
    margin:120px 0 0 0;
}
.subtitle{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 60px;
}
.part-button{
    color: #ff7f7f;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding:25px 80px;
    border-radius: 50px;
}
@media (max-width: 1230px){
    .menu{
        padding-left: 35px;
    }
}
@media (max-width: 990px){
    .navigation{
        display:none;
    }
}
@media (max-width: 770px){
    h1{
        font-size: 55px;
        margin:120px 0 0 0;
    }
    .subtitle{
        font-size: 25px;
        margin-bottom: 60px;
    }
    .part-button{
        color: #ff7f7f;
        font-size: 20px;
        border: none;
        padding:20px 70px;
        border-radius: 50px;
    }
}
@media (max-width: 575px){
    h1{
        font-size: 50px;
        margin:100px 0 0 0;
    }
    .subtitle{
        font-size: 20px;
        margin-bottom: 60px;
    }
    .part-button{
        font-size: 18px;
        padding:18px 50px;
    }
}

